@import "modern-normalize/modern-normalize.css";

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0, 8px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
}

svg {
  display: block;
}

.compare-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fbeee0;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.compare-btn:hover {
  background-color: #fff;
}

.compare-btn:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .compare-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}
.compare-btn-prod-int-text {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.compare-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-color: rgba(70, 69, 69, 0.767);
  transition: transform 250ms linear;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  z-index: 999;
  padding: 20px;
}
.btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 200px;
  min-width: 200px;
  padding: 10px;
}
.open-menu {
  transform: translateY(0);
}
.to-compare-btn {
  padding: 10px;
  width: 100%;
  background-color: #fbeee0;
  border: 2px solid #0067dd;
  border-radius: 10px;
  box-shadow: #0067dd 4px 4px 0 0;
  color: #0067dd;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.to-compare-btn:hover {
  background-color: #fff;
}

.to-compare-btn:active {
  box-shadow: #0067dd 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.close-btn {
  padding: 10px;
  width: calc(50% - 5px);
  background-color: #fbeee0;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.close-btn:hover {
  background-color: #fff;
}

.close-btn:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.clean-btn {
  padding: 10px;
  width: calc(50% - 5px);
  background-color: #fbeee0;
  border: 2px solid #fc893c;
  border-radius: 10px;
  box-shadow: #fc893c 4px 4px 0 0;
  color: #fc893c;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.clean-btn:hover {
  background-color: #fff;
}

.clean-btn:active {
  box-shadow: #fc893c 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.add-to-compare-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 1em 2em;
  border: 1px solid #000000;
  fill: currentColor;
  text-align: center;
}

.in-compare-btn {
  color: #ff0000;
}

.products-compare-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.product-compare-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  min-width: 200px;
  padding: 20px;
}
.product-compare-img-box {
  position: relative;
}
.product-compare-img {
  height: 120px;
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
}
.product-compare-title {
  font-size: 14px;
  max-width: 200px;
  text-align: center;
  color: inherit;
}
.remove-compare-product-bnt {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.63);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;

  display: flex;
  align-items: center;
  justify-content: center;
}

.on-close {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #ffffffad;
  color: #000000;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 50px;
  max-height: calc(100vh - 10%);
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .modal {
    min-width: 280px;
    width: 100vw;
  }
}

.table-box {
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
  border: 2px solid #c4c4c4e3;
  box-shadow: #c4c4c4e3 2px 2px 0 0;
}

@media screen and (max-width: 700px) {
  .table-box {
    min-width: 280px;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 200px;
}

.product-info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.product-action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal-product-img {
  width: 100px;
  height: 120px;
  overflow: hidden;
  border-radius: 10px;
}

.modal-product-title {
  text-align: center;
  font-size: 18px;
}

.add-to-cart-modal-btn {
  padding: 10px;
  width: 100%;
  background-color: #fbeee0;
  border: 2px solid #0067dd;
  border-radius: 10px;
  box-shadow: #0067dd 2px 2px 0 0;
  color: #0067dd;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.add-to-cart-modal-btn:hover {
  background-color: #fff;
}

.add-to-cart-modal-btn:active {
  box-shadow: #0067dd 1px 1px 0 0;
  transform: translate(1px, 1px);
}

.modal-product-link {
  font-size: 14px;
}

.modal-product-link:hover {
  text-decoration: underline;
}

.compare-table {
  border-radius: 10px;
  border-collapse: collapse;
  background-color: #ffffff;
}

.compare-table-cell {
  padding: 10px;
  border: 2px solid #c4c4c4e3;
  border-right: 0px solid #c4c4c4e3;
  border-top: 0px solid #c4c4c4e3;
}

.border-cell-left {
  padding: 10px;
  border-right: 2px solid #c4c4c4e3;
  border-bottom: 2px solid #c4c4c4e3;
}

.modal-text {
  text-align: center;
}

.thead-bg {
  background-color: rgb(241, 241, 241);
  position: sticky;
  left: 0;
  z-index: 999;
}

.close-modal-btn {
  position: absolute;
  top: 2px;
  right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fbeee0;
  border: 2px solid #707070e3;
  box-shadow: #707070e3 2px 2px 0 0;
  color: #707070e3;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-modal-btn:hover {
  background-color: #fff;
}

.close-modal-btn:active {
  box-shadow: #707070e3 1px 1px 0 0;
  transform: translate(1px, 1px);
}

.remove-compare-product-bnt {
  position: absolute;
  top: -2px;
  right: -5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fbeee0;
  border: 2px solid #f84040e3;
  box-shadow: #f84040e3 2px 2px 0 0;
  color: #f84040e3;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.remove-compare-product-bnt:hover {
  background-color: #fff;
}

.remove-compare-product-bnt:active {
  box-shadow: #f84040e3 1px 1px 0 0;
  transform: translate(1px, 1px);
}
